<div class="main-container">
  <div class="add-container">
    <div class="add-button">
      <span> <%= link_to "+" , new_employee_path %></span>
    </div>
    <div class="add-text-container">
      <%= link_to "Add new employee" , new_employee_path %>
    </div>
  </div>
  <div class="table-container">
    <section class="header-table">
      <ul>
        <li class="header-table-text">
          <p>Email</p>
        </li>
        <li class="header-table-text">
          <p>Name</p>
        </li>
        <li class="header-table-text">
          <p>Position</p>
        </li>
        <li class="header-table-text">
          <p>Number</p>
        </li>
        <li class="header-table-text">
          <p>Private Number</p>
        </li>
        <li class="header-table-text">
          <p>Store</p>
        </li>
        <li class="header-table-text">
          <p>Status</p>
        </li>
        <li class="header-table-text">
          <p>Actions</p>
        </li>
      </ul>
    </section>
    <% @employees.each do |employee| %>
      <section class="employees-table">
        <ul class= "employees-table-list" >
          <li class="employees-table-cell">
            <p><%= employee.email %></p>
          </li>
          <li class="employees-table-cell">
            <p><%= employee.name %></p>
          </li>
          <li class="employees-table-cell">
            <p><%= employee.position %></p>
          </li>
          <li class="employees-table-cell">
            <p><%= employee.employee_number %></p>
          </li>
          <li class="employees-table-cell">
            <p><%= employee.private_number %></p>
          </li>
          <li class="employees-table-cell">
            <p><%=Store.find(employee.id_store).name%></p>
          </li>
          <li class="employees-table-cell">
            <p><%= employee.status %></p>
          </li>
          <li class="buttons-container">
            <div>
              <button class="button-edit"><%= link_to "Edit", edit_employee_path(employee)%></button>
              <% if employee.status == 'Active' %>
                <%= button_to "Inactive", change_employee_path(employee, status: 'Inactive'), method: :post, class: "button-delete" %>
              <% else %>
                <%= button_to "Active", change_employee_path(employee, status: 'Active'), method: :post, class: "button-delete" %>
              <%end%>
            </div>
          </li>
        </ul>
      </section>
    <%end%>
  </section>
</div>
</div>
