 <%= form_with model: @store do |form| %>
    <div class="info-container">
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </div>
    <div class="info-container">
        <%= form.label :adress %><br>
        <%= form.text_field :adress %>
    </div>
    <div class="button-container">
        <%= form.submit %>
    </div>
<% end %>
