<div class="main-container">
  <div class="add-container">
    <%= link_to new_store_path do %>
      <div class="add-button">
        <span> + </span>
      </div>
    <% end %>
    <div class="add-text-container">
      <h1><%= link_to "Add new store", new_store_path %></h1>
    </div>
  </div>
  <div class="table-store-container">
    <section class="header-table">
      <ul>
        <li class="header-table-text">
          <p>Store Name</p>
        </li>
        <li class="header-table-text">
          <p>Address</p>
        </li>
        <li class="header-table-text">
          <p>Actions</p>
        </li>
      </ul>
    </section>
    <% @stores.each do |store| %>
      <section class="employees-table">
        <ul>
          <li class="eployees-table-cell">
            <p><%= store.name %></p>
          </li>
          <li class="eployees-table-cell">
            <p><%= store.adress %></p>
          </li>
          <li class="buttons-container">
            <div>
              <button class="button-edit"><%= link_to "Edit", edit_store_path(store)%></button>
              <button class="button-delete"><%= link_to "Delete", store_path(store), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></button>
            </div>
          </li>
        </ul>
      </section>
    <% end %>
  </div>
</div>
