<div class="main-container">
  <div class="clock-container">
    <section class="clock">
      <div class="clock-time-container">
        <h1 class="clock-time" id="clock"></h1>
      </div>
    </section>
    <section class="form-container">
      <%= form_with url: checks_path, method: :post do |form| %>
        <div class="input-container">
          <div>
            <%= form.label :employee_number %>
          </div>
          <div>
            <%= form.number_field :employee_number %>
          </div>
        </div>
        <div class="input-container">
          <div>
            <%= form.label :private_number %>
          </div>
          <div>
            <%= form.password_field :private_number%>
          </div>
        </div>
        <div class="message">
          <% flash.each do |key, value| %>
            <div class="message__content <%= key %>">
              <%= value %>
            </div>
          <% end %>
        </div>
        <div class="buttons-container">
          <%= form.button "Check in", name:"check", value:"in" %>
          <%= form.button "Check out", name:"check", value:"out" %>
        </div>
      <% end %>
    </section>
  </div>
</div>
