<!DOCTYPE html>
<html>
  <head>
    <title>Relojchecador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <div>
        <%= link_to root_path do %>
          <%= image_tag "logo.svg", class: "logo" %>
        <% end %>
      </div>
       <%= link_to logins_path do %>
            <button class="nav-button">
              <p>Admin</p>
            </button>
          <% end %>
    </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <footer>
      <p>© - Team 2 - Iker Toscano,
        Diego Morales,
        Everardo Alcaraz
      </p>
    </footer>
  </body>
</html>
