<!DOCTYPE html>
<html>
  <head>
    <title>Relojchecador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <div>
        <%= link_to root_path do %>
          <%= image_tag "logo.svg", class: "logo" %>
        <% end %>
      </div>

      <%if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to destroy_user_session_path, :method => 'delete' do %>
          <button class="nav-button">
            <p>Log out</p>
          </button>
        <% end %>
      <%else%>
        <%= link_to logins_path do %>
          <button class="nav-button">
            <p>Log in</p>
          </button>
        <% end %>
      <% end %>
    </nav>
    <%= yield %>
    <footer>
      <p>© - Team 2 - Iker Toscano,
        Diego Morales,
        Everardo Alcaraz
      </p>
    </footer>
  </body>
</html>
